<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet"
   type = "text/css"
   href= "{{ url_for('static',filename='styles/mycss.css') }}" />
   
</head>

<body class="header">
 
  

<div class="logo-div">
    <img src="/static/Logo_Dashboard.png" class="logo">
  </div>


  <br>
  <br>
  <br>
<form action = "{{ request.path }}" method = "post">

     <h2 style="margin-left: 150px;" class="font-style">Enter host details </h2>
    
    <div>
    <label for="hostgroup" style="margin-left: 28%"><b>Hostgroup</b></label>
    <label for="psw" style="margin-left: 15%"><b>IP Address</b></label>
    <label for="psw" style="margin-left: 15%" ><b>IP FQDN</b></label></br>
    </div><br>
  
    <div style="margin-left: 20%;" >
    
  <select  class="addcluster-dropdown" id="hostgroup" name="hg1">
    <option></option>
    <option value="mgt">Management-Node</option>
    <option value="mst">Master-Node</option>
    <option value="slv">Slave-Node</option>
    <option value="lb">Load-Balancer-Node</option>
    <option value="other">Other</option>
  </select>
    
    <input class="addcluster-textbox" type="text" placeholder="Enter IP Address" name="ip1" required minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" title="Invalid IP Address">
    
    
    <input  class="addcluster-textbox" type="text" placeholder="Enter FQDN" name="fq1" required>
    </div></br>


    <div style="margin-left: 20%;" >
  <select  class="addcluster-dropdown" id="hostgroup" name="hg2">
    <option></option>
    <option value="mgt">Management-Node</option>
    <option value="mst">Master-Node</option>
    <option value="slv">Slave-Node</option>
    <option value="lb">Load-Balancer-Node</option>
    <option value="other">Other</option>
  </select>
    <input class="addcluster-textbox" type="text" placeholder="Enter IP Address" name="ip2" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" title="Invalid IP Address">
    
    <input  class="addcluster-textbox" type="text" placeholder="Enter FQDN" name="fq2">
    </div></br>
    

    <div style="margin-left: 20%;" >
  <select  class="addcluster-dropdown" id="hostgroup" name="hg3">
    <option></option>
    <option value="mgt">Management-Node</option>
    <option value="mst">Master-Node</option>
    <option value="slv">Slave-Node</option>
    <option value="lb">Load-Balancer-Node</option>
    <option value="other">Other</option>
  </select>
    <input class="addcluster-textbox" type="text" placeholder="Enter IP Address" name="ip3" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" title="Invalid IP Address">
    
    <input  class="addcluster-textbox" type="text" placeholder="Enter FQDN" name="fq3">
    </div></br>

    <div style="margin-left: 20%;" >
  <select  class="addcluster-dropdown" id="hostgroup" name="hg4">
    <option></option>
    <option value="mgt">Management-Node</option>
    <option value="mst">Master-Node</option>
    <option value="slv">Slave-Node</option>
    <option value="lb">Load-Balancer-Node</option>
    <option value="other">Other</option>
  </select>
    <input class="addcluster-textbox" type="text" placeholder="Enter IP Address" name="ip4" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" title="Invalid IP Address">
    
    <input  class="addcluster-textbox" type="text" placeholder="Enter FQDN" name="fq4">
    </div></br>

    <div style="margin-left: 20%;" >
  <select  class="addcluster-dropdown" id="hostgroup" name="hg5">
    <option></option>
    <option value="mgt">Management-Node</option>
    <option value="mst">Master-Node</option>
    <option value="slv">Slave-Node</option>
    <option value="lb">Load-Balancer-Node</option>
    <option value="other">Other</option>
  </select>
    <input class="addcluster-textbox" type="text" placeholder="Enter IP Address" name="ip5" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" title="Invalid IP Address">
    
    <input  class="addcluster-textbox" type="text" placeholder="Enter FQDN" name="fq5">
    </div></br>

    <div style="margin-left: 20%;" >
  <select  class="addcluster-dropdown" id="hostgroup" name="hg6">
    <option></option>
    <option value="mgt">Management-Node</option>
    <option value="mst">Master-Node</option>
    <option value="slv">Slave-Node</option>
    <option value="lb">Load-Balancer-Node</option>
    <option value="other">Other</option>
  </select>
    <input class="addcluster-textbox" type="text" placeholder="Enter IP Address" name="ip6" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" title="Invalid IP Address">
    
    <input  class="addcluster-textbox" type="text" placeholder="Enter FQDN" name="fq6">
    </div></br>

    <div style="margin-left: 20%;" >
  <select  class="addcluster-dropdown" id="hostgroup" name="hg7">
    <option></option>
    <option value="mgt">Management-Node</option>
    <option value="mst">Master-Node</option>
    <option value="slv">Slave-Node</option>
    <option value="lb">Load-Balancer-Node</option>
    <option value="other">Other</option>
  </select>
    <input class="addcluster-textbox" type="text" placeholder="Enter IP Address" name="ip7" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" title="Invalid IP Address">
    
    <input  class="addcluster-textbox" type="text" placeholder="Enter FQDN" name="fq7">
    </div></br>
     
    <div>
    <button type="submit" class="submitt-button">Submit</button><br>
</div>

<a href = "{{ url_for('clusters') }}"><label class="hometext">Home</label><img class="home-button" src="/static/home.png"></a>

<a href = "{{ url_for('profile') }}"><label class="profiletext">Profile</label><img class="profile-button" src="/static/profile.png"></a>

<a href = "{{ url_for('logout') }}"><label class="logouttext">Logout</label><img class="logout-button" src="/static/logout.png"></a>

</form>
<div class="footer"></div>


</body>
</html>