<!DOCTYPE html>
<html>
<head>
 <link rel = "stylesheet"
   type = "text/css"
   href= "{{ url_for('static',filename='styles/mycss.css') }}" />
<style>



   tbody
    {
    counter-reset: Serial;           /* Set the Serial counter to 0 */
    }


tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}

</style>

<body class="header">

  <div id="mySidenav" class="sidenav">
 <img class="profile-img" src="/static/profile.png">
 <br>
 <label style="margin-left: 32%">User Name</label>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="margin-top: 10%;">
  <a href="/inprogress">Dashboard</a>
  <a href='/{{ name }}/hosts'>Cluster Inventory</a>
  <a href='/{{ name }}/hosts/checklist'>Run Checklist</a>
  <a href="/inprogress">Monitoring</a>
  <a href="/inprogress">Deployment</a>
  <a href="/inprogress">Self Diagnostic</a>
  <a href="/inprogress">Self Heal</a>
   <a href="/{{ name }}/checklist/reports">Reports & Stats</a>
  <a href="https://guavus.atlassian.net/wiki/spaces/CS/pages/1075183620/Operational+Dashboard">About</a>
  <a href="#">FAQs</a>
  </div>
</div>



<div style="position: absolute; margin-top: 0.5%; margin-left: 1%">
<span class="span1" onclick="openNav()">&#9776;</span>
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>



  <div class="logo-div">
    <img src="/static/Logo_Dashboard.png" class="logo">
  </div>

  <p style="margin-top: 40px; margin-left: 1.5%; font-size: 30px;"><b>Cluster {{ name }} : Checklist Report</b></p>

</div>





  <div style="overflow-x:auto">
{% if view == '1' %}
<table style="font-family: Optima, sans-serif;">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hosts</th>
      <th>Checklist Run Time</th>
      <th>Ping Status</th>
      <th>SSH Status</th>
      <th>System Manufacturer</th>
      <th>System Product Name</th>
      <th>System UUID</th>
      <th>System Version</th>
      <th>Kernel Version</th>
      <th>Hardware Platform</th>
      <th>BIOS Version</th>
      <th>Total System CPU</th>
      <th>Processor Frequency</th>
      <th>Total System Memory(GB)</th>
      <th>Total Number Of Disks</th>
      <th>Total Disk Space</th>
      <th></th>
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }} </td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[10] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
    <td>{{ row[13] }}</td>
    <td>{{ row[14] }}</td>
    <td>{{ row[15] }}</td>
    <td>{{ row[16] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% elif view == '2' %}
<table style="font-family: Optima, sans-serif;">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hosts</th>
      <th>Checklist Run Time</th>
      <th>Ping Status</th>
      <th>SSH Status</th>
      <th>OS Version</th>
      <th>Hostname</th>
      <th>Host Timezone</th>
      <th>NTP Sync Status</th>
      <th>CIDR</th>
      <th>Selinux Status</th>
      <th>DHCP Status</th>
      <th>Network Manager Status</th>
      <th>Interface Speed</th>
      <th>MTU Speed</th>
      <th>Log FS Size</th>
      <th>Root FS Size</th>
      <th>IP Forward Status</th>
      <th>DMESG Status</th>
      <th>Transparent Huge page Status</th>
      <th></th>
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }} </td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[10] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
    <td>{{ row[13] }}</td>
    <td>{{ row[14] }}</td>
    <td>{{ row[15] }}</td>
    <td>{{ row[16] }}</td>
    <td>{{ row[17] }}</td>
    <td>{{ row[18] }}</td>
    <td>{{ row[19] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% elif view == '3' %}
<table style="font-family: Optima, sans-serif;">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hosts</th>
      <th>Checklist Run Time</th>
      <th>Ping Status</th>
      <th>SSH Status</th>
      <th>HDP Status</th>
      <th>Hadoop Version</th>
      <th>Hadoop Status</th>
      <th>Kerberos Status</th>
      <th>Ambari Server Status</th>
      <th>Ambari Client Status</th>
      <th>Zookepper Status</th>
      <th>Kafka Status</th>
      <th>Kubernetes Status</th>
      <th></th>
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }} </td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[10] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
    <td>{{ row[13] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% elif view == '4' %}
<table style="font-family: Optima, sans-serif;">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hosts</th>
      <th>Checklist Run Time</th>
      <th>Ping Status</th>
      <th>SSH Status</th>
      <th>System Manufacturer</th>
      <th>System Product Name</th>
      <th>System UUID</th>
      <th>System Version</th>
      <th>Kernel Version</th>
      <th>Hardware Platform</th>
      <th>BIOS Version</th>
      <th>Total System CPU</th>
      <th>Processor Frequency</th>
      <th>Total System Memory(GB)</th>
      <th>Total Number Of Disks</th>
      <th>Total Disk Space</th>
      <th>OS Version</th>
      <th>Hostname</th>
      <th>Host Timezone</th>
      <th>NTP Sync Status</th>
      <th>CIDR</th>
      <th>Selinux Status</th>
      <th>DHCP Status</th>
      <th>Network Manager Status</th>
      <th>Interface Speed</th>
      <th>MTU Speed</th>
      <th>Log FS Size</th>
      <th>Root FS Size</th>
      <th>IP Forward Status</th>
      <th>DMESG Status</th>
      <th>Transparent Huge page Status</th>
      <th></th>
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }} </td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[10] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
    <td>{{ row[13] }}</td>
    <td>{{ row[14] }}</td>
    <td>{{ row[15] }}</td>
    <td>{{ row[16] }}</td>
    <td>{{ row[17] }}</td>
    <td>{{ row[18] }}</td>
    <td>{{ row[19] }}</td>
    <td>{{ row[20] }}</td>
    <td>{{ row[21] }}</td>
    <td>{{ row[22] }}</td>
    <td>{{ row[23] }} </td>
    <td>{{ row[24] }}</td>
    <td>{{ row[25] }}</td>
    <td>{{ row[26] }}</td>
    <td>{{ row[27] }}</td>
    <td>{{ row[28] }}</td>
    <td>{{ row[29] }}</td>
    <td>{{ row[30] }}</td>
    <td>{{ row[31] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% elif view == '5' %}
<table style="font-family: Optima, sans-serif;">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hosts</th>
      <th>Checklist Run Time</th>
      <th>Ping Status</th>
      <th>SSH Status</th>
      <th>System Manufacturer</th>
      <th>System Product Name</th>
      <th>System UUID</th>
      <th>System Version</th>
      <th>Kernel Version</th>
      <th>Hardware Platform</th>
      <th>BIOS Version</th>
      <th>Total System CPU</th>
      <th>Processor Frequency</th>
      <th>Total System Memory(GB)</th>
      <th>Total Number Of Disks</th>
      <th>Total Disk Space</th>
      <th>HDP Status</th>
      <th>Hadoop Version</th>
      <th>Hadoop Status</th>
      <th>Kerberos Status</th>
      <th>Ambari Server Status</th>
      <th>Ambari Client Status</th>
      <th>Zookepper Status</th>
      <th>Kafka Status</th>
      <th>Kubernetes Status</th>
      <th></th>
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }} </td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[10] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
    <td>{{ row[13] }}</td>
    <td>{{ row[14] }}</td>
    <td>{{ row[15] }}</td>
    <td>{{ row[16] }}</td>
    <td>{{ row[17] }}</td>
    <td>{{ row[18] }}</td>
    <td>{{ row[19] }}</td>
    <td>{{ row[20] }}</td>
    <td>{{ row[21] }}</td>
    <td>{{ row[22] }}</td>
    <td>{{ row[23] }}</td>
    <td>{{ row[24] }}</td>
    <td>{{ row[25] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% elif view == '6' %}
<table style="font-family: Optima, sans-serif;">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hosts</th>
      <th>Checklist Run Time</th>
      <th>Ping Status</th>
      <th>SSH Status</th>
      <th>OS Version</th>
      <th>Hostname</th>
      <th>Host Timezone</th>
      <th>NTP Sync Status</th>
      <th>CIDR</th>
      <th>Selinux Status</th>
      <th>DHCP Status</th>
      <th>Network Manager Status</th>
      <th>Interface Speed</th>
      <th>MTU Speed</th>
      <th>Log FS Size</th>
      <th>Root FS Size</th>
      <th>IP Forward Status</th>
      <th>DMESG Status</th>
      <th>Transparent Huge page Status</th>
      <th>HDP Status</th>
      <th>Hadoop Version</th>
      <th>Hadoop Status</th>
      <th>Kerberos Status</th>
      <th>Ambari Server Status</th>
      <th>Ambari Client Status</th>
      <th>Zookepper Status</th>
      <th>Kafka Status</th>
      <th>Kubernetes Status</th>
      <th></th>
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }} </td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[10] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
    <td>{{ row[13] }}</td>
    <td>{{ row[14] }}</td>
    <td>{{ row[15] }}</td>
    <td>{{ row[16] }}</td>
    <td>{{ row[17] }}</td>
    <td>{{ row[18] }} </td>
    <td>{{ row[19] }}</td>
    <td>{{ row[20] }}</td>
    <td>{{ row[21] }}</td>
    <td>{{ row[22] }}</td>
    <td>{{ row[23] }}</td>
    <td>{{ row[24] }}</td>
    <td>{{ row[25] }}</td>
    <td>{{ row[26] }}</td>
    <td>{{ row[27] }}</td>
    <td>{{ row[28] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% elif view == '7' %}
<table style="font-family: Optima, sans-serif;">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hosts</th>
      <th>Checklist Run Time</th>
      <th>Ping Status</th>
      <th>SSH Status</th>
      <th>System Manufacturer</th>
      <th>System Product Name</th>
      <th>System UUID</th>
      <th>System Version</th>
      <th>Kernel Version</th>
      <th>Hardware Platform</th>
      <th>BIOS Version</th>
      <th>Total System CPU</th>
      <th>Processor Frequency</th>
      <th>Total System Memory(GB)</th>
      <th>Total Number Of Disks</th>
      <th>Total Disk Space</th>
      <th>OS Version</th>
      <th>Hostname</th>
      <th>Host Timezone</th>
      <th>NTP Sync Status</th>
      <th>CIDR</th>
      <th>Selinux Status</th>
      <th>DHCP Status</th>
      <th>Network Manager Status</th>
      <th>Interface Speed</th>
      <th>MTU Speed</th>
      <th>Log FS Size</th>
      <th>Root FS Size</th>
      <th>IP Forward Status</th>
      <th>DMESG Status</th>
      <th>Transparent Huge page Status</th>
      <th>HDP Status</th>
      <th>Hadoop Version</th>
      <th>Hadoop Status</th>
      <th>Kerberos Status</th>
      <th>Ambari Server Status</th>
      <th>Ambari Client Status</th>
      <th>Zookepper Status</th>
      <th>Kafka Status</th>
      <th>Kubernetes Status</th>
      <th></th>
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }} </td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[10] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
    <td>{{ row[13] }}</td>
    <td>{{ row[14] }}</td>
    <td>{{ row[15] }}</td>
    <td>{{ row[16] }}</td>
    <td>{{ row[17] }}</td>
    <td>{{ row[18] }} </td>
    <td>{{ row[19] }}</td>
    <td>{{ row[20] }}</td>
    <td>{{ row[21] }}</td>
    <td>{{ row[22] }}</td>
    <td>{{ row[23] }}</td>
    <td>{{ row[24] }}</td>
    <td>{{ row[25] }}</td>
    <td>{{ row[26] }}</td>
    <td>{{ row[27] }}</td>
    <td>{{ row[28] }}</td>
    <td>{{ row[29] }}</td>
    <td>{{ row[30] }}</td>
    <td>{{ row[31] }}</td>
    <td>{{ row[32] }}</td>
    <td>{{ row[33] }}</td>
    <td>{{ row[34] }}</td>
    <td>{{ row[35] }}</td>
    <td>{{ row[36] }}</td>
    <td>{{ row[37] }}</td>
    <td>{{ row[38] }}</td>
    <td>{{ row[39] }}</td>
    <td>{{ row[40] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
</div>

  <div class="download" align="center"    ><br>
    <a href="/{{ name }}/return-file" target="blank"><button class="delete" >Export as csv</button></a>
  </div>



<a href = "{{ url_for('clusters') }}"><label class="hometext">Home</label><img class="home-button" src="/static/home.png"></a>

<a href = "{{ url_for('profile') }}"><label class="profiletext">Profile</label><img class="profile-button" src="/static/profile.png"></a>

<a href = "{{ url_for('logout') }}"><label class="logouttext">Logout</label><img class="logout-button" src="/static/logout.png"></a>

<div class="footer"></div>
</body>
</html>