<!DOCTYPE html>
<html>
<head>
 <link rel = "stylesheet"
   type = "text/css"
   href= "{{ url_for('static',filename='styles/mycss.css') }}" />
<style>



</style>

<body class="header">

  <div id="mySidenav" class="sidenav">
 <img class="profile-img" src="/static/profile.png">
 <br>
 <label style="margin-left: 32%">User Name</label>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="margin-top: 10%;">
  <a href="#">Dashboard</a>
  <a href="#">Cluster Inventory</a>
  <a href="#">Monitoring</a>
  <a href="#">Deployment</a>
  <a href="#">Self Diagnostic</a>
  <a href="#">Self Heal</a>
  <a href="checklist_reports.html">Reports & Stats</a>
  <a href="https://guavus.atlassian.net/wiki/spaces/CS/pages/1075183620/Operational+Dashboard">About</a>
  <a href="#">FAQs</a>
  </div>
</div>

<div style="position: absolute; margin-top: 0.5%; margin-left: 1%">
<span class="span1" onclick="openNav()">&#9776;</span>
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>



  <div class="logo-div">
    <img src="/static/Logo_Dashboard.png" class="logo">
  </div>

  <p style="margin-top: 40px; margin-left: 1.5%; font-size: 30px;"><b>"{{ name }}"</b></p>

</div>





  <div class="table-div">
  
<table class="font-style">
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hosts</th>
      <th>Checklist Run Time</th>
      <th>Host Uptime</th>
      <th>OS Version</th>
      <th>Kernel Version</th>
      <th>/opt FS Use</th>
      <th>/var FS Use</th>
      <th>Root FS Use</th>
      <th>Total CPU</th>
      <th>Total Memory</th>
      <th>MTU</th>
      <th>SWAP Status</th>
      <th>Selinux Status</th>
      <th>Firewall Status</th>
      <th>NTPD Status</th>
      <th>IP_forwarding Status</th>
      <th></th>     
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[6] }}</td>
    <td>{{ row[7] }} </td>
    <td>{{ row[8] }}</td>
    <td>{{ row[9] }}</td>
    <td>{{ row[10] }}</td>
    <td>{{ row[11] }}</td>
    <td>{{ row[12] }}</td>
    <td>{{ row[13] }}</td>
    <td>{{ row[14] }}</td>
    <td>{{ row[15] }}</td>
    <td>{{ row[16] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>

  <div class="download" align="center"    ><br>
    <a href="/{{ name }}/return-file" target="blank"><button class="delete" >Export as csv</button></a>
  </div>


<a href = "{{ url_for('clusters') }}"><label class="hometext">Home</label><img class="home-button" src="/static/home.png"></a>

<a href = "{{ url_for('profile') }}"><label class="profiletext">Profile</label><img class="profile-button" src="/static/profile.png"></a>

<a href = "{{ url_for('logout') }}"><label class="logouttext">Logout</label><img class="logout-button" src="/static/logout.png"></a>

<div class="footer"></div>
</body>
</html>