<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet"
   type = "text/css"
   href= "{{ url_for('static',filename='styles/mycss.css') }}" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}


tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}

</style>
<body class="header">
 
 <div id="mySidenav" class="sidenav">
 <img class="profile-img" src="{{ url_for('static',filename='profile.png') }}">
 <br>
 <label style="margin-left: 32%">User Name</label>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="margin-top: 10%;">
  <a href="https://guavus.atlassian.net/wiki/spaces/CS/pages/1075183620/Operational+Dashboard">About</a>
  <a href="#">FAQs</a>
  </div>
</div>

<div style="position: absolute; margin-top: 0.5%; margin-left: 1%">
<span class="span1" onclick="openNav()">&#9776;</span>
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

  <div class="logo-div">
    <img src="{{ url_for('static',filename='Logo_Dashboard.png') }}" class="logo">
<label class="username-header">Hello,  {{ user[0][1].upper() }} {{ user[0][0] }}</label>
  </div>
  
 {% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
        {%- for message in success %}
        <div class="alert alert-success" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor -%}
    {% endif %}
{% endwith %}


 {% with errors = get_flashed_messages(category_filter=["danger"]) %}
            {% if errors %}
                {%- for message in errors %}
                    <div class="alert alert-danger" role="alert">
                        <span>{{ message }}</span>
                        <a href="{{ url_for('clusters') }}"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button></a>
                    </div>
                {% endfor -%}
            {% endif %}
 {% endwith %}

    <br><br>
  <form method="post" action="{{ url_for('search') }}">
    <input class="search-textbox" type="text" placeholder="Search Cluster" name="search" value="{{ request.form.search }}">
    <button class="search" type="submit"><b>Search</b></button><br>
  </form>

<div class="table-div">
<table>
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Cluster Name</th>
      <th>Cluster Description</th>
      <th>Cluster Owner</th>
      <th>Cluster Size</th>
      <th>Cluster Creation Date</th>
      <th>Options</th>
    </tr> 
  </thead>
  <tbody>
    {% for row in value %}
    <tr>
        <td></td>
        <td><a href='/{{ row[0] }}/hosts'> {{ row[0] }} </a></td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td><a href='/{{ row[0] }}/delete_cluster' onclick="myFunction()"><img class="deletecluster-icon" src="/static/delete.png"></a>
    </tr>
    {% endfor %}
  </tbody>  
</table>



</div>

<a href = "{{ url_for('clusters') }}"><label class="hometext">Home</label><img class="home-button" src="/static/home.png"></a>

<a href = "{{ url_for('profile') }}"><label class="profiletext">Profile</label><img class="profile-button" src="/static/profile.png"></a>
<a href="{{ url_for('logout') }}"><label class="logouttext">Logout</label><img class="logout-button" src="/static/logout.png"></a>

<label class="plustext">Add Cluster</label>
<a href = "{{ url_for('add_cluster') }}"><img class="addcluster-button" src="/static/plus.png"></a>
<div class="footer"></div>
<div id="snackbar">Cluster {{ clusterName }} has been deleted</div>
<script>

function myFunction() {
 
  var r = confirm("Are you sure want to delete!");
  if (r == true) {


  }
  document.getElementById("demo").innerHTML = txt;
}
</script>
</body>
</html>