<!DOCTYPE html>
<html>
<head>

<style>

</style>

<body style="background-color: floralwhite;">

  <div style="background-color: #0c1731; height: 60px; width: 1420px;">
    <img src="/static/Logo_Dashboard.png" style="height: 60px; width: 150px;">
  </div>
  <div style="margin-top: 10px; margin-left: 10px; position: absolute;">
    <a href="/" target="blank"><button class="button">Home</button></a>
  </div>
<div style="margin-top: 100px; margin-left: 100px; position: absolute;">
  <h1> This Feature is currently WIP!!!</h1>
</div>


<div style="background-color: #0c1731; height: 30px; width: 100%; position: fixed; bottom: 10px;"></div>
</body>
</html>