
<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet"
   type = "text/css"
   href= "/static/styles/mycss.css" />

    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>



   tbody
    {
    counter-reset: Serial;           /* Set the Serial counter to 0 */
    }


tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}

name


</style>

<body class="header">

<div id="mySidenav" class="sidenav">
 <img class="profile-img" src="/static/profile.png">
 <br>
 <label style="margin-left: 32%">User Name</label>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style="margin-top: 10%;">
  <a href="/inprogress">Dashboard</a>
  <a href='/{{ name }}/hosts'>Cluster Inventory</a>
  <a href='/{{ name }}/hosts/checklist'>Run Checklist</a>
  <a href="/inprogress">Monitoring</a>
  <a href="/inprogress">Deployment</a>
  <a href="/inprogress">Self Diagnostic</a>
  <a href="/inprogress">Self Heal</a>
   <a href="/{{ name }}/checklist/reports">Reports & Stats</a>
  <a href="https://guavus.atlassian.net/wiki/spaces/CS/pages/1075183620/Operational+Dashboard">About</a>
  <a href="#">FAQs</a>
  </div>
</div>

<div style="position: absolute; margin-top: 0.5%; margin-left: 1%">
<span class="span1" onclick="openNav()">&#9776;</span>
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
  <div class="logo-div">
    <img src="/static/Logo_Dashboard.png" class="logo">
  </div>

{% with success = get_flashed_messages(category_filter=["success"]) %}
    {% if success %}
        {%- for message in success %}
        <div class="alert alert-success" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor -%}
    {% endif %}
{% endwith %}
  
  <div>
    <label class="plustext-host">Add Host</label>
    <a href = "/{{ name }}/add_host"><img class="addcluster-button" src="/static/plus.png"></a>
  </div>
  <div style="margin-top: 100px;">
<p style="margin-top: 40px; margin-left: 1.5%; font-size: 30px;">Cluster {{name}} : Inventory Details</p>
<div class="table-div">
<table>
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Hostgroup</th>
      <th>Host IP</th>
      <th>Host FQDN</th>
      <th>Host Liveliness</th>
      <th>Options</th>
    </tr>
</thead>
<tbody>
  {% for row in value %}
  <tr>
    <td></td>
    <td>{{ row[0] }} </td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td><a href='/{{ name }}/{{ row[1] }}/delete_host' onclick="myFunction()"><img class="deletecluster-icon" src="/static/delete.png"></a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>

      <!--div class="buttons-div">
  <a href='/{{ name }}/hosts/checklist'><button class="main-button">Run Checklist</button></a>

  <a href="/inprogress"><button class="main-button">Monitoring</button></a>

  <a href="/inprogress"><button class="main-button" >Deployment</button></a>

  <a href="/inprogress"><button class="main-button">Self-Diagonasis</button></a>

  <a href="/inprogress"><button class="main-button">Self-Heal</button></a>
</div-->


<a href = "{{ url_for('clusters') }}"><label class="hometext">Home</label><img class="home-button" src="/static/home.png"></a>

<a href = "{{ url_for('profile') }}"><label class="profiletext">Profile</label><img class="profile-button" src="/static/profile.png"></a>

<a href = "{{ url_for('logout') }}"><label class="logouttext">Logout</label><img class="logout-button" src="/static/logout.png"></a>

<div class="footer"></div>
<div id="snackbar">Cluster X has been deleted</div>
<script>

function myFunction() {
 
  var r = confirm("Are you sure want to delete!");
  if (r == true) {


  }
  document.getElementById("demo").innerHTML = txt;
}
</script>
</body>
</html>