<html>
<head>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
<!--script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    $(document).ready(function() {
      $('#mybutton').hide().delay(1000).fadeIn(2200);
});
    </script-->
</script>
</head>
<body>
<!--button id="mybutton" type="button" class="btn"> first button </button>
<button onclick="$(document).ready(function()" id="second-button" type="button" class="btn hide"> Pending </button-->
<button id="button1" style="display:block;" onclick="document.getElementById('button2').style.display = 'block'">Button 1</button>
<button id="button2" style="display:none;" onclick="document.getElementById('button1').style.display = 'block'; this.style.display = 'none';">Button 2</button>
</body>
</html>